html body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif; }
  html body h1,
  html body h2,
  html body h3 {
    font-family: 'UnifrakturCook', serif;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
  html body header img {
    width: 300px; }
  html body main h2 {
    margin: 10px; }
  html body main ol li p {
    border-bottom: 1px solid black; }
  html body main ol li img {
    width: 300px; }
  html body ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  html body ol {
    margin: 0;
    padding: 0; }
